<div class="columns is-centered">
    <div class="column"></div>
    <!-- Graphic -->
    <div class="column is-four-fifths">
        <a>
            <img src="./assets/images/food-truck-graphic.jpg">
        </a>
    </div>
    <div class="column"></div>
</div>
<div class="columns is-centered">
    <!-- Welcome Block-->
    <div class="column">
        <section class="section">
            <div class="container">
                <h1 class="title">Welcome to Food Truck Finder</h1>
                <p class="subtitle">
                    Search for a local food truck in order to rate, comment, and read
                    reviews from those in your community!
                </p>
            </div>
        </section>
    </div>
</div>
</div>
<div class="columns is-centered">
    <div class="column"></div>
    <!-- Search Body-->
    <div class="column is-four-fifths">
        <div class="search-body">
            <div class="search-bar">
                <input class="input is-medium" id="search-term" type="text" placeholder="Find A Truck" />
                <input class="button is-primary is-medium" id="search-btn" type="submit" value="Submit" />
            </div>
        </div>
    </div>
    <div class="column"></div>
</div>