  <h1 class="title mt-6 ml-6">Sign in with your email and password</h1>
  <form class="login mt-6 ml-6">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="e.g. alex@example.com">
      </div>
    </div>
  
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="********">
      </div>
    </div>
  
    <button class='button is-primary' id='signIn'>Sign in</button>
  </form>