  <h1 class="title mt-6 ml-6">Leave a review for a local food truck</h1>
  <form class="box mt-6 ml-6">
    <div class="field">
      <label class="label">Food Truck Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Food Truck Name">
      </div>
    </div>
  
    <div class="field">
      <label class="label">Review</label>
      <div class="control">
        <textarea class="textarea" placeholder="e.g. This truck is the best!"></textarea>
      </div>
    </div>
  
    <button class="button is-primary">Submit</button>
  </form>